
.content{
    position: relative;
    margin-left: 350px;
    width: 400px;
   height: 350px;
    background-color: black;
}
.article {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-direction: column;
     
    width: 400px;
    height: auto;
    background-color: blue;
  
     
}

.image::before{
    
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(219, 79, 23, 0.6);
    
    transform: translateY(100%)
} 

.content:hover .image::before{
     transform: translateY(0)

}

.image:hover::before{
    opacity: 1;
}

.image{
    position: relative;
  margin-bottom: 20px;
}

.apple{
    
    width: 380px;
    height: auto;
}
 
.product-actions{
    position: absolute;
    top: 50%;
    left:  50%;
     width: 80px;
    padding: 20px;
transform: translate(-50%, -50%);
    outline: 2px dashed tomato;
    opacity: 0.3;
    transition: 500ms;
}

.icons{
    
    width: 30px;
    height: 30px;
}
h1, h2{
   margin: 20px;
}

.article:hover .product-actions {
    opacity: 1;
}



